.typeOptionsMenu {
  background-color: #275a41;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  padding: 40px;

  &__logo {
    width: 10vw;
  }
}
